.navbar {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 2px;
  position: absolute;
  z-index: 10000;
  top: 20px;
  right: 20px;
  background-color: white;
  border-radius: 2px;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}
.navbar-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
