.robot-marker {
  background: transparent !important;
  border: none !important;
}

.robot-marker-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transform-origin: center center;
}

/* Blue shadow around the robot */
.robot-shadow {
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgba(52, 120, 175, 0.4);
  filter: blur(2px);
  z-index: 1;
  top: 2px;
  left: 2px;
}

.robot-icon {
  position: relative;
  width: 32px;
  height: 32px;
  z-index: 2;
}
